<app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias( $event )" placeholder="Buscar por país"></app-pais-input>

<div *ngIf="hayError" class="text-red-600 bg-red-100 py-1 px-6 text-sm float-right rounded-md mt-[-10px] hidden md:block">
    <i class="fa-regular fa-face-sad-tear mr-2"></i>No se encontraron coincidencias
</div>

<div class="w-full mb-8">
    <div class="flex justify-lef items-center">
        <i class="fa-solid fa-flag-usa text-gray-900 pr-1 md:pr-3"></i>
        <h1 class="text-xl font-extrabold text-gray-800">Filtrado por país({{paises.length}})</h1>
    </div>
</div>

<app-pais-card [paises]="paises"></app-pais-card>